@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url("https://fonts.googleapis.com/css?family=Slabo+27px&display=swap");

body {
    background-color: rgba(204, 204, 255, .4);
    box-sizing: border-box;
}


#delete {
    align-self: center;
}


#delete-bookmark {
    padding: 10px;
    background-color: rgb(218, 50, 50);
    border-bottom: 5px solid rgb(212, 81, 99);
    border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	color: #FFF;
    text-decoration: none;
    margin: 10px;

}

#delete-bookmark:hover {
    background-color: rgb(206, 110, 110);
}

#description {
    border: 2px;
    padding-top: 10px;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;


}

#title {
    font-family: 'Slabo 27px', serif;
    font-size: 26px;
}

#button-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


#clear-filter {
    background-color: rgb(38, 104, 121, .5);
    border-bottom: 5px solid rgb(212, 81, 99);
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	color: #FFF;
    text-decoration: none;
    width: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#clear-filter:hover {
    background-color: rgb(122, 187, 230);
}

h1 {
   display: flex;
   justify-content: center;
   font-family: 'Pacifico';
}

.add-new {
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: rgb(243, 200, 200);
    text-decoration: none;
    box-shadow: 5px 5px;
    width: 100%;
}
.add-new:hover {
    background-color: rgb(122, 187, 230);
}


.dropdown  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 25px;
    width: 85%;
    padding: 7px;
    border: 2px solid grey;
    background-color: rgba(204, 204, 255, .6);
    box-shadow: 5px 5px;
    margin-left: 50px;
}

#stars {
    display: flex;
    justify-content: flex-end;
}

.bookmark {
    border: 2px solid grey;
    width: 85%;
    padding: 7px;
    border: 2px solid grey;
    background-color: rgba(204, 204, 255, .6);
    box-shadow: 5px 5px;
}


#submit-bookmark-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#expanded-button {
    background-color: rgba(1, 1, 8, 0.6);
}

#title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}


#bookmarks {
    margin: 6px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: 20px;
}



#create {
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

#create:hover {
    background-color:rgb(122, 187, 230);
}

#cancel-button {
    background-color: rgb(218, 50, 50);
    border-bottom: 5px solid rgb(212, 81, 99);
    padding: 10px 40px;
    margin: 10px;
    border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

#cancel-button:hover {
    background-color: rgba(218, 50, 50, .6);
}

#submit-bookmark-form {
    display:flex;
    justify-content: center;
    align-items: center;
}

label {
    background-color: rgb(38, 104, 121, .5);
    border-bottom: 5px solid rgb(212, 81, 99);
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	color: #FFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 170%;
}
input {
    background-color: rgb(38, 104, 121, .1);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	color: rgb(15, 15, 15);
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 50%;
}
#visit-site {
    align-self: center;
    background-color: rgb(38, 104, 121);
    padding: 5px;
    border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	color: #FFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left:200px;
}

#visit-site:hover {
    background-color: rgba(38, 104, 121, .5);
}

#error-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid salmon;
    border-radius: 15px;
    background-color: rgb(38, 104, 121, .1);
}

#error-button {
    align-self: flex-start;
    border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	color: #FFF;
    text-decoration: none;
    margin: 2px;
}

#error-message {
    font-family: 'Slabo 27px', serif;
    color: red;
}

#button-container {
        display:flex;
        justify-content: flex-start;
        padding: 10px;
        flex-direction:column;
        flex-shrink: 100%;
        font-size: 16px;
    }
    
button {
    font-size: 16px;
}

